//- add.pug
extends layout.pug

block content

    h1= "New Contact"
    p= "Add new contact to phonebook."
    hr


    form(
        action='/add'
        method='post'
        class='mt-4'
    )
        div(class='form-group')
            label Name
            input(
                name='contactName'
                type='text'
                class='form-control'
                required
            )
        div(class='form-group mt-2')
            label Phone number
            input(
                name='contactNumber'
                type='text'
                class='form-control'
                required
            )
        div(class='form-group mt-2')
            label Phone number
            input(
                name='contactNumber'
                type='text'
                class='form-control'
            )
        div(class='form-group mt-3')
            button(
                type='submit'
                class='btn btn-success'
            ) save
